<header id="header" >
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="app.component.html">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="product/product.component.html">product<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item"> 
          <a class="nav-link" href="shoppingcart/shoppingcart.component.html" >Cart</a>
        </li>
        
        <li class="nav-item"> 
          <a class="nav-link" href="wishlist/wishlist.component.html" >wishlist</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="login/login.component.html" >login</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="register/register.component.html" >Register</a>
        </li>
      </ul>
      
    </div>
  </nav>

</header> 

<body>
  <nav class="col-1" style="left: 0%; height: 100%; position: fixed; ">
    
    <h5>Catogery</h5>
    <Ul>
      <li class="nav-item"> 
        <a class="nav-link" href="register/register.component.html" >Fruits</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="register/register.component.html" >Vegetables</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="register/register.component.html" >frozen</a>
      </li>
    </Ul>
  </nav>
  <div>
 
  </div>
</body>
<footer id="footer" style="position: fixed; background-color: rgb(62, 65, 235);width: 100%; bottom: 0%; text-align: center;" > 
      <div class="container" >
        <div class="social-links" >
          <a href="#hero"  ><i class="fa fa-facebook" aria-hidden="true" style="color: aliceblue;"></i></a>
          <a href="https://intagram.com/poojasreeyadav?utm_medium=cop_link"  ><i class="fa fa-instagram" aria-hidden="true"style="color: aliceblue;"></i></a>
          <a href="https://www.linkedin.com/in/poojasree-g-v-217870a4"  ><i class="fa fa-linkedin" aria-hidden="true"style="color: aliceblue;"></i></a>
          <a href="mailto:poojavyadav008@gmail.com"><i class="fa fa-envelope" aria-hidden="true"style="color: aliceblue;"></i></a>
          &copy; Copyright <strong><span>Shopping cart</span></strong>. All Rights Reserved
        </div>
        
      </div>
    </footer>